@{
    ViewBag.Title = "Home Page";
}
@model MVCEntityFrameworkCRUD.Models.EmployeeViewModel

<main>
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <label>Last Name:</label>
                    <input id="lastName" name="lastName" type="text" value="@Model.EmployeeSearchDTO.last_name" />
                </div>
                <div class="col-md-3">
                    <label>First Name:</label>
                    <input id="firstName" name="firstName" type="text" value="@Model.EmployeeSearchDTO.first_name"  />
                </div>
                <div class="col-md-3">
                    <input id="search" name="action" type="submit" value="Search" />
                    <input id="reset" name="action" type="submit" value="Reset" />
                </div>
            </div>
        </div>
    }
    <div><br /></div>
    <div class="container">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Hire Date</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.EmployeeDTO != null)
                {
                    foreach (var item in Model.EmployeeDTO)
                    {
                        <tr>
                            <td>@item.employee_id</td>
                            <td>@item.last_name</td>
                            <td>@item.first_name</td>
                            <td>@item.hire_date</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</main>